<div class="col-xs-12 pad-0">
  <span class="col-xs-11 pad-0">
    <h2 mat-dialog-title>{{headerLabel}}</h2>
  </span>
</div>
<div class="col-xs-12 pad-0">
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <div class="col-xs-12 pad-0 mt-10">
      <div *ngIf="isSuccess!== undefined" [ngClass]="isSuccess ? 'tick jj-mr-10' : 'jj-alert jj-mr-10'"></div>
      <div class="pad-tp-5 jj-lh-1point4">
        {{datatoBeShowninPopUp}}
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="pull-right" *ngIf="isDataString; else confirmationTemp">
    <button md-button (click)="okDialog()" class="btn btn-primary">OK</button>
  </mat-dialog-actions>
</div>

<ng-template #confirmationTemp>
  <mat-dialog-actions class="pull-right">
    <button md-button (click)="cancelDialog()" class="btn btn-primary jj-mr-10">{{cancelButtonLabel}}</button>
    <button md-button (click)="okDialog()" class="btn btn-secondary">{{okButtonLabel}}</button>
  </mat-dialog-actions>
</ng-template>