.icons{
    cursor: pointer;
    margin-left: 5px;
}

.minus{
    color: red;
}

.inputBox {
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 13px;
    height: 20px;
    width: 80%;
}